@value mobile, max_width, xxs, xs, sm, md, lg, xl, xxl, xxxl from './layout.css';
@value text_sup, text_p, text_label, text_h1, text_h1_mob, text_h2, text_h2_mob, text_h3 from './typography.css';
@value green, white, border, violet from './colors.css';
@value header_height, mob_header_height from './header.module.css';

.main {
    padding: xxl 0 lg;
}
@media (max-width: mobile) {
    .main {
        padding: lg 0;
    }
}
.section {
    composes: max_content_width from './layout.css';
    padding: 0 md;
}
.section_content {
    margin: xl 0;
}
.section_content .section_content_group {
    margin-bottom: xxxl;
}
.section_content h2 {
    margin-bottom: md;
    font-family: "LatoLight";
}
.section_content li {
    margin-left: lg;
    margin-bottom: md;
    line-height: 2;
}
/* TODO name h3 */
.section_content h3, .section_content h3 * {
    font-size: text_h3;
    font-family: "LatoLight";
}
.section_content h3 .bold {
    font-family: "LatoBlack";
}

.section_content_group img {
    max-width: 100%;
    margin-bottom: md;
}
.paragraphs {
    display: flex;
    margin: lg 0;
}
.paragraphs:first-of-type {
    margin-top: md;
}
.paragraphs p:nth-of-type(2) {
    padding-left: lg;
}
@media (max-width: mobile) {
    .paragraphs {
        flex-direction: column;
    }
    .paragraphs p:nth-of-type(2) {
        padding: 0;
        margin-top: lg;
    }
}

.section_content_group h2 {
    margin-bottom: lg;
}
.we_bring_list {
    margin: md 0;
    display: flex;
    justify-content: space-between;
}
.we_bring_list li {
    margin: sm 0;
    font-weight: bold;
    list-style-type: none;
    font-size: text_label;
}
.memberships {
    display: flex;
    justify-content: space-between;
}
.memberships img {
    min-width: 0;
    object-fit: contain;
    max-width: 200px;
    max-height: 100px;
    margin: 0 md;
}
@media (max-width: mobile) {
    .memberships {
        flex-direction: column;
    }
    .memberships img {
        margin: lg 0;
    }
    /* First div images happen to have built-in padding... */
    .memberships:first-of-type img {
        margin: 0;
    }
}
