.black_text {
    color: rgb(35, 33, 41);
}

.blue_text {
    color: #0f1d2b;
}

.gold_text {
    color: #c93;
}

.white_text {
    color: #fff;
}


.black_bg {
    background-color: rgb(35, 33, 41);
}

.blue_bg {
    background-color: #0f1d2b;
}

.gold_bg {
    background-color: #c93;
}

.white_bg {
    background-color: #ffc;
}

.green_button_bg {
    background-color: #2A9D8F;
}