@value md, xl from './layout.css';
@value text_label from './typography.css';
@value black, lightgrey from './colors.css';

.dropdown_questions {

}
.dropdown_question {
    composes: box_shadow_thin from './effect.css';
    composes: unselectable from './effect.css';
    composes: border_radius_subtle from './effect.css';
    margin: xl 0;
    padding: md;
    background: lightgrey;
    color: black;
}
.dropdown_question:first-of-type {
    margin-top: 0;
}
.dropdown_question:last-of-type {
    margin-bottom: 0;
}
.dropdown_question h4, .dropdown_question h4 a {
    font-size: text_label;
    color: black;
    text-decoration: underline;
}
.dropdown_question h4 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question {
    composes: letter_spacing from './typography.css';
}
.dropdown_question > div.closed {
    display: none;
}
.dropdown_question > div.open {
    display: block;
}
.dropdown_question > div button {
    padding: 0;
}
.dropdown_questions .padding {
    margin-top: md;
}
.dropdown_question > div p {
    margin-bottom: md;
}
.dropdown_question > div p:last-of-type {
    margin-bottom: 0;
}
