.box_shadow {
    box-shadow: 0px 0px 20px rgba(35, 33, 41, 0.8);
}
.box_shadow_subtle {
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%)
}
.box_shadow_thin {
    box-shadow: 0px 0px 2px rgba(35, 33, 41, 0.8);
}

.border_radius_subtle {
    border-radius: 4px;
}
.border_radius_button {
    border-radius: 8px;
}
.border_radius_container {
    border-radius: 12px;
}

.button_opacity {
    opacity: 0.75;
}
.button_opacity:hover, .button_opacity:active {
    opacity: 1;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.transition {
    transition: all 0.3s;
}
