@value footer_bg, white from './colors.css';
@value md, lg, xxl, xxxl from './layout.css';

.footer {
    background: footer_bg;
    min-height: 220px;
    margin-top: xxl;
}

.footer * {
    color: white;
}

.footer_content {
    composes: max_content_width from './layout.css';
    margin: 0 auto;
    padding: xxxl;
}

.footer_content ul {
    list-style: none;
}
.footer_content ul li {
    margin: md 0;
}
.footer_content ul li a {
    text-decoration: underline;
}
