@value blue, white from './colors.css';
@value sm, md, lg, xxl, xxxl, mobile from './layout.css';
@value text_sup from './typography.css';

.footer {
    background: blue;
    min-height: 220px;
    margin-top: xxl;
}

.footer * {
    color: white;
}

.footer_content {
    composes: max_content_width from './layout.css';
    padding: xxxl;
    display: flex;
    justify-content: space-between;
}

.footer_content ul {
    list-style: none;
}
.footer_content ul li {
    margin: md 0;
}
.footer_content ul li a {
    text-decoration: underline;
}

.quote h5 {
    font-style: italic;
    margin-right: sm;
    display: inline-block;
}
.quote span {
    display: inline-block;
    font-size: text_sup;
}

.logo {
    float: right;
    max-width: 135px;
}
.logo img {
    height: 100%;
    width: 100%;
}
@media (max-width: mobile) {
    .logo {
        display: none;
    }
}
