@value mobile, md from './layout.css';
@value text_p from './typography.css';
@value blue, white, gold from './colors.css';
@value header_height: 100px;

.header {
    background: blue;
    height: header_height;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}
@media (max-width: mobile) {
    .header {
        /* TODO: mobile header */
        display: none;
    }
}

.header > div {
    display: flex;
    align-items: center;
}
.header ul {
    display: flex;
    list-style: none;
}
.header ul li {
    margin-left: md;
}

.header_link {
    font-size: text_p;
    padding: md;
    color: white;
}
.active_header_link {
    font-size: text_p;
    padding: md;
    color: gold;
}
