@value mobile, xs, sm, md, lg from './layout.css';
@value blue, white, gold from './colors.css';
@value header_height: 100px;

@media (max-width: mobile) {
    .header {
        display: none;
    }
}
@media (min-width: mobile) {
    .mobile_header {
        display: none;
    }
}

/* Desktop header */
.header {
    background: blue;
    height: header_height;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0 md;
}

.header_content {
    composes: max_content_width from './layout.css';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.logo_button {
    height: 50px;
    width: 50px;
    background: blue;
    background-image: url('/logo-simple.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.link_list {
    display: flex;
    list-style: none;
}
.link_list li {
    margin-left: md;
}

.link_list li a {
    padding: md;
    color: white;
    white-space: nowrap;
}
.link_list li a:hover,
.link_list li a:active {
    color: gold;
}

/* Mobile header */
.mobile_header {
    background: blue;
    position: sticky;
    top: 0;
    z-index: 3;
}

.mobile_header_content {
    padding: xs md;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_toggle {
    padding-top: sm;
}

.mobile_logo_button {
    height: 30px;
    width: 30px;
    background-image: url('/logo-simple.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile_link_list {
    background: blue;
    position: absolute;
    left: 0;
    right: 0;
}
.mobile_link_list li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.mobile_link_list li a {
    text-align: right;
    display: block;
    color: white;
    white-space: nowrap;
    padding: md;
}

.mobile_link_list li a:hover,
.mobile_link_list li a:active {
    color: gold;
}
