@value black, white, blue, gold, violet, lavender, green from './colors.css';

.icon_black {
    fill: black;
}

.icon_white {
    fill: white;
}

.icon_blue {
    fill: blue;
}

.icon_gold {
    fill: gold;
}

.icon_violet {
    fill: violet;
}

.icon_lavender {
    fill: lavender;
}

.icon_green {
    fill: green;
}
