@value mobile, xs, sm, md, lg, xl, xxl, xxxl from './layout.css';
@value text_md, text_lg, text_h1, text_h1_mob, text_h2, text_h3 from './typography.css';
@value blue, green_button, white, border from './colors.css';
@value header_height from './header.module.css';

/* Hero */
.hero {
    composes: box_shadow from './effect.css';
    composes: unselectable from './effect.css';

    position: relative;
    height: calc(100vh - header_height);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: mobile) {
    .hero {
        height: 350px;
    }
}

.hero_image {
    height: 100%;
    width: 100%;
    background: blue;
    background-image: url('/logo.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* All Sections */
.section {
    composes: max_content_width from './layout.css';
    margin: 0 auto;
    padding: calc(xl + header_height) xxl xl;
}
@media (max-width: mobile) {
    .section {
        padding: xl lg;
        min-height: 200px;
    }
}
.section_header {
    font-family: 'RobotoThin';
    font-size: text_h1;
}
@media (max-width: mobile) {
    .section_header {
        font-size: text_h1_mob;
    }
}
.section_content {
    margin: xl 0;
}
.section_content * {
    font-size: text_md;
    line-height: 1.5;
}
.section_content h2 {
    font-size: text_h2;
    margin: xxl 0 md;
    font-family: "RobotoThin";
}
.section_content h3 {
    font-size: text_h3;
    font-family: "RobotoThin";
}
.section_content li {
    margin-left: lg;
    margin-bottom: md;
    line-height: 1.8;
}
.section_content .section_content_group {
    margin-bottom: xxxl;
}

/* Who We Are */
.button_link {
    text-decoration: underline;
}
@media (min-width: mobile) {
    .button_link {
        display: block;
        padding: 0;
    }
}
.meeting_image {
    margin-top: lg;
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.easy_opt_pers {
    composes: three_col from './layout.css';
    text-align: center;
}
@media (max-width: mobile) {
    .easy_opt_pers {
        flex-direction: column;
    }
    .easy_opt_pers > div {
        width: 100%;
        margin-bottom: lg;
    }
    .easy_opt_pers > div:last-of-type {
        margin-bottom: 0;
    }
}
.easy_opt_pers svg {
    margin-bottom: calc(-1 * xs);
}
.easy_opt_pers p {
    font-size: text_md;
}

.today_tomorrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.today_tomorrow > * {
    flex-grow: 1;
    width: 50%;
}
.today_tomorrow_img_wrapper {
    width: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Our Services */
.services .services_list {
    list-style-type: unset;
    margin-left: 24px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
@media (max-width: mobile) {
    .services .services_list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}
.services .services_list li {
    line-height: 3;
}

/* Contact Us */
.contact_us form input,
.contact_us form textarea {
    font-size: text_md;
    background-color: transparent;
    display: block;
    border: 1px solid border;
    margin-bottom: sm;
    padding: sm;
    width: calc(100% - (sm * 2));
}
.submit_button {
    composes: box_shadow_thin from './effect.css';
    composes: transition from './effect.css';
    background: green_button;
    color: white;
    text-decoration: none;
    padding: sm;
    margin-top: sm;
    border-radius: 6px;
    width: 100%;
    opacity: 0.9;
}
