@value mobile, xs, sm, md, lg, xl, xxl, xxxl from './layout.css';
@value text_sup from './typography.css';
@value violet from './colors.css';

.button_link {
    text-decoration: underline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.clients_image {
    composes: border_radius_subtle from './effect.css';
    margin-top: lg;
    width: 100%;
    max-height: 550px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.easy_opt_pers {
    composes: three_col from './layout.css';
    text-align: center;
    margin-top: xxl;
}
@media (max-width: mobile) {
    .easy_opt_pers {
        flex-direction: column;
    }
    .easy_opt_pers > div {
        width: 100%;
        margin-bottom: lg;
    }
    .easy_opt_pers > div:last-of-type {
        margin-bottom: 0;
    }
}
.easy_opt_pers svg {
    margin-bottom: calc(-1 * xs);
}
.easy_opt_pers h4 {
    color: violet;
    margin-bottom: sm;
}

/* Boat */
.today_tomorrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.today_tomorrow > * {
    flex-grow: 1;
    width: 50%;
}
.today_tomorrow_img_wrapper {
    composes: border_radius_subtle from './effect.css';
    width: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Video */
.video {
    composes: border_radius_subtle from './effect.css';
    width: 100%;
    height: 646px;
}
@media (max-width: mobile) {
    .video {
        height: 350px;
    }
}

/* Testimonials */
.testimonials .testimonial {
    margin: lg 0 xxl;
}
.testimonials .testimonial .date {
    margin-left: sm;
}
.testimonials .testimonial .name, .testimonials .testimonial .date {
    font-size: text_sup;
    font-style: italic;
}
