@value mobile, max_width, xxs, xs, sm, md, lg, xl, xxl, xxxl from './layout.css';
@value text_sup, text_p, text_label, text_h1, text_h1_mob, text_h2, text_h2_mob, text_h3 from './typography.css';
@value blue, green, white, border, violet from './colors.css';
@value header_height, mob_header_height from './header.module.css';

/* Hero */
.hero {
    composes: box_shadow from './effect.css';
    composes: unselectable from './effect.css';

    position: relative;
    height: calc(100vh - header_height);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: mobile) {
    .hero {
        height: calc(50vh - mob_header_height);
    }
}

.hero_image {
    height: 100%;
    width: 100%;
    background: blue;
    background-image: url('/logo.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* All Sections */
.section {
    composes: max_content_width from './layout.css';
    margin: 0 auto;
    padding: calc(md + header_height) xxl xl;
}
@media (max-width: mobile) {
    .section {
        padding: xl lg;
        min-height: 200px;
    }
}
.section_header {
    font-family: 'RobotoThin';
    font-size: text_h1;
}
@media (max-width: mobile) {
    .section_header {
        font-size: text_h1_mob;
    }
}
.section_content {
    margin: xl 0;
}
.section_content * {
    font-size: text_p;
    line-height: 1.5;
}
.section_content h2 {
    font-size: text_h2;
    margin: xxl 0 md;
    font-family: "RobotoThin";
}
@media (max-width: mobile) {
    .section_content h2 {
        font-size: text_h2_mob;
    }
}
.section_content h3, .section_content h3 * {
    font-size: text_h3;
    font-family: "RobotoThin";
}
.section_content h3 .bold {
    font-family: "RobotoRegular";
}
.section_content h4 {
    font-size: text_label;
}
.section_content li {
    margin-left: lg;
    margin-bottom: md;
    line-height: 2;
}
.section_content .section_content_group {
    margin-bottom: xxxl;
}

.quote {
    margin-bottom: lg;
}
.quote h5 {
    font-style: italic;
    margin-bottom: xxs;
}
.quote p {
    font-size: text_sup;
}

/* About */
.button_link {
    text-decoration: underline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.meeting_image {
    margin-top: lg;
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.easy_opt_pers {
    composes: three_col from './layout.css';
    text-align: center;
}
@media (max-width: mobile) {
    .easy_opt_pers {
        flex-direction: column;
    }
    .easy_opt_pers > div {
        width: 100%;
        margin-bottom: lg;
    }
    .easy_opt_pers > div:last-of-type {
        margin-bottom: 0;
    }
}
.easy_opt_pers svg {
    margin-bottom: calc(-1 * xs);
}
.easy_opt_pers h4 {
    color: violet;
    margin-bottom: sm;
}
.easy_opt_pers p {
    font-size: text_p;
}

/* Boat */
.today_tomorrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.today_tomorrow > * {
    flex-grow: 1;
    width: 50%;
}
.today_tomorrow_img_wrapper {
    width: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Our Services */
.services .services_list {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
@media (max-width: mobile) {
    .services .services_list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}
.services .services_list li {
    line-height: 6;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: text_label;
    font-weight: bold;
}
.services .services_list li svg {
    width: 80px;
}

.services .common_questions li {
    list-style-type: none;
    margin: md 0;
}

/* Who We Are */
.who_we_are .section_content_group img {
    max-width: 100%;
    margin-bottom: md;
}
.who_we_are .section_content_group .paragraphs {
    display: flex;
    margin: lg 0;
}
.who_we_are .section_content_group .paragraphs:first-of-type {
    margin-top: md;
}
.who_we_are .section_content_group .paragraphs p:nth-of-type(2) {
    padding-left: lg;
}
@media (max-width: mobile) {
    .who_we_are .section_content_group .paragraphs {
        flex-direction: column;
    }
    .who_we_are .section_content_group .paragraphs p:nth-of-type(2) {
        padding: 0;
        margin-top: lg;
    }
}

.who_we_are .section_content_group h2 {
    margin-bottom: lg;
}
.who_we_are .section_content_group .we_bring_list {
    margin: md 0;
    display: flex;
    justify-content: space-between;
}
.who_we_are .section_content_group .we_bring_list li {
    margin: sm 0;
    font-weight: bold;
    list-style-type: none;
}
.who_we_are .memberships {
    display: flex;
    justify-content: space-around;
}
.who_we_are .memberships img {
    min-width: 0;
    object-fit: contain;
    max-width: 220px;
    margin: 0 md;
}

/* Contact Us */
.contact_us form input,
.contact_us form textarea {
    font-size: text_p;
    background-color: transparent;
    display: block;
    border: 1px solid border;
    margin-bottom: sm;
    padding: sm;
    width: calc(100% - (sm * 2));
}
.submit_button {
    composes: box_shadow_thin from './effect.css';
    composes: transition from './effect.css';
    background: green;
    color: white;
    text-decoration: none;
    padding: sm;
    margin-top: sm;
    border-radius: 6px;
    width: 100%;
    opacity: 0.9;
}
