@value mobile: 768px;
@value max_width: 1000px;

@value xxs: 4px;
@value xs: 8px;
@value sm: 12px;
@value md: 16px;
@value lg: 32px;
@value xl: 48px;
@value xxl: 72px;
@value xxxl: 98px;

.max_content_width {
    max-width: max_width;
    margin: 0 auto;
}

.three_col, .four_col {
    display: flex;
}
.three_col > div {
    flex-grow: 1;
    width: calc(33% - lg);
    margin-right: lg;
}
.four_col > div {
    flex-grow: 1;
    width: calc(25% - lg);
    margin-right: lg;
}
