@value blue from './colors.css';
@value header_height from './header.module.css';

.dropdown {
    composes: border_radius_subtle from './effect.css';
    background: blue;
    position: absolute;
    top: 40px;
    display: none;
}
.dropdown.content_shown {
    display: inherit;
}
