@value blue from './colors.css';
@value header_height from './header.module.css';

.dropdown {
    display: none;
}
.content_shown {
    display: inherit;
}

.dropdown_content {
    composes: border_radius_subtle from './effect.css';
    position: absolute;
    background: blue;
    top: 40px;
}
