@value mobile, md, lg from './layout.css';
@value black, blue, gold, grey from './colors.css';
@value text_h3 from './typography.css';

.pricing_blocks * {
    color: grey;
}
.pricing_blocks ul {
    list-style: none;
}
.pricing_blocks ul li {
    margin-left: 0;
}
.pricing_blocks .highlight {
    color: black;
    font-family: "LatoBold";
}
.pricing_blocks > h3 {
    font-family: "LatoBlack";
}

.pricing_blocks .price {
    margin-top: md;
    color: black;
    font-size: text_h3;
    text-align: center;
}
