@value sm, lg from './layout.css';
@value text_h3 from './typography.css';
@value border, button_green, white from './colors.css';

.meeting_image {
    margin-top: lg;
    width: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
    composes: border_radius_subtle from './effect.css';
}
.schedule_now {
    composes: box_shadow_thin from './effect.css';
    composes: transition from './effect.css';
    composes: button_opacity from './effect.css';
    composes: border_radius_button from './effect.css';
    composes: letter_spacing from './typography.css';
    margin: lg 0;
    background: button_green;
    padding: 10px 30px;
    color: white;
    font-size: text_h3;
}

.contact_us form input,
.contact_us form textarea {
    background-color: transparent;
    display: block;
    border: 1px solid border;
    margin-bottom: sm;
    padding: sm;
    width: calc(100% - (sm * 2));
}
.contact_us_submit_button {
    composes: box_shadow_thin from './effect.css';
    composes: transition from './effect.css';
    composes: button_opacity from './effect.css';
    composes: border_radius_button from './effect.css';
    composes: letter_spacing from './typography.css';
    background: button_green;
    color: white;
    text-decoration: none;
    padding: sm;
    margin-top: sm;
    width: 100%;
}
