@value md, lg, xxxl from './layout.css';
@value white from './colors.css';

.section {
    padding: 0 md;
    margin-bottom: xxxl;
}
.section:last-of-type {
    margin-bottom: 0;
}

.section_content {
    composes: max_content_width from './layout.css';
}

.section h1 {
    margin-bottom: lg;
}

.section h2 {
    margin-bottom: md;
}

.section li {
    margin-left: lg;
    margin-bottom: md;
    line-height: 2;
}

.theme_dark {
    background: #111;
}
.theme_dark * {
    color: white;
}
