@value text_sup: .88rem;
@value text_p: 1rem;
@value text_label: 1.1rem;
@value text_h3: 1.3rem;
@value text_h2: 2rem;
@value text_h2_mob: 1.6rem;
@value text_h1: 3rem;
@value text_h1_mob: 2.5rem;

@font-face {
    font-family: "RobotoThin";
    src: url("./fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "RobotoBold";
    src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
