@value text_sup: .9rem;
@value text_p: 1.1rem;
@value text_label: 1.2rem;
@value text_h4: 1.2rem;
@value text_h3: 1.35rem;
@value text_h2: 1.85rem;
@value text_h1: 2.65rem;

@font-face {
    font-family: "LatoBlack";
    src: url("./fonts/Lato/Lato-Black.ttf");
}
@font-face {
    font-family: "LatoBold";
    src: url("./fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: "LatoItalic";
    src: url("./fonts/Lato/Lato-Italic.ttf");
}
@font-face {
    font-family: "LatoLight";
    src: url("./fonts/Lato/Lato-Light.ttf");
}
@font-face {
    font-family: "LatoLightItalic";
    src: url("./fonts/Lato/Lato-LightItalic.ttf");
}
@font-face {
    font-family: "LatoRegular";
    src: url("./fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: "LatoThin";
    src: url("./fonts/Lato/Lato-Thin.ttf");
}
@font-face {
    font-family: "LatoThinItalic";
    src: url("./fonts/Lato/Lato-ThinItalic.ttf");
}
